.voice-card {
    background-color: #232229;
    border-radius: 20px;
    max-width: 1000px;
    height: 475px;
    margin: 20px auto 0;
}
.voice-card:first-of-type {
    margin-top: 0;
}
.voice-card a {
    text-decoration-line: none;
    color: #fff;
    display: flex;
    align-items: flex-start;
}
    