.footer__links-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 47px;
    margin: 0 auto;
    max-width: 1200px;
}
@media screen and (max-width:1009px) {
    .footer__links-container {
        flex-wrap: wrap;
    }
}