.culture  {
    margin-bottom: 172px;
    padding: 0 20px;
}

.culture .subtitle {
    max-width: 659px;
    margin: 24px auto 92px;
}

.culture .card__image {
    background-image: url(../../../../images/about-us/culture.png);
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 636px;
}


@media screen and (min-width:700px) {
    .culture .card__textarea {
        max-width: 512px;
    }

    .culture .card__text {
        max-width: 394px;
    }
}

@media screen and (max-width:430px) {
    .culture  {
        margin-bottom: 104px;
    }
    
    .culture .card__image {
        width: 100%;
        background-image: url(../../../../images/about-us/culture-phone.png);
    }

    .culture .subtitle {
        margin-bottom: 72px;
        max-width: 260px;
    }
}