.game-icon__forest {
    width: 75px;
    height: 75px;
    left: 0;
    bottom: 50px;
    background: #414141;
    border-radius: 12px;
}
@media screen and (min-width:1600px) {
    .game-icon__garrys-mod {
        left: 40px;
    }}