.contacts__article {
    width: 490px;
    height: 590px;
    background: #232229;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 28px 0 38px;
    box-sizing: border-box;
}

.contacts__article div {
    width: 100%;
}

.contacts__article h5 {
    font-weight: 800;
    font-size: 38px;
    line-height: 115%;
    letter-spacing: -0.01em;
    margin: 0 0 10px;
}

.contacts__article p {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.005em;
    margin: 0;
}

.contacts__article a {
    color: #fff;
    text-decoration-line: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.005em;
}

.contacts__article_isq p {
    margin-bottom: 24px;
}

.contacts__article_phone img {
    margin-top: 20px;
    margin-bottom: 10px;
}

.contacts__article_phone a {
    margin-bottom: 24px;
    display: block;
}
@media screen and (max-width:450px) {
    .contacts__article {
        width: 100%;
        height: 510px;
    }
    .contacts__article_isq img {
        width: 272px;
    }
    .contacts__article_phone img {
        width: 276px;
    }
    .contacts__article h5 {
        font-size: 28px;
        margin-bottom: 22px;
    }
    .contacts__article p, .contacts__article a {
        font-size: 16px;
    }
}