.voice__mumble {
    background: #79109D;
    border-radius: 20px;
}

.voice__mumble a {
    color: #FFFFFF;
    text-decoration-line: none;
    display: block;
}

@media screen and (max-width:570px) {
    .voice__mumble {
        height: 525px;
    }
}

@media (any-hover: hover) {
    .voice__mumble:hover img {
        transform: scale(105%);
    }

    .voice__mumble:hover .voice__download {
        color: #79109D;
        background-color: #fff;
    }
}