.other__card {
    max-width: 1000px;
    height: 525px;
    margin: 0 auto 20px;
    border-radius: 20px;
}

.other__card a {
    color: #fff;
    text-decoration-line: none;
    display: flex;
    justify-content: space-between;
}

.other__card img {
    transition: all 500ms ease-in-out;
}

@media (any-hover: hover) {
    .other__card:hover .card__link_partners {
        color: #372A59;
        background-color: #fff;
    }

    .other__card:hover .card__img-epic {
        transform: scale(105%);
    }

    .other__card:hover .card__img-battle {
        transform: translateX(62px) scale(105%);
    }

    .other__card:hover .card__img-steam {
        transform: translateY(-45px) scale(105%);
    }

    .other__card:hover .card__img_partners {
        transform: scale(105%);
    }

    .other__card:hover .card__img_partners:last-of-type {
        transform: translateX(40px) scale(105%);
    }
}

@media screen and (max-width:700px) {
    .other__card {
        width: 335px;
        height: 525px;

    }

    .other__card a {
        flex-direction: column;
        justify-content: normal;
    }
}