.first-screen__button-section {
    display: flex;
    gap: 28px;
    align-items: center;
    margin-top: 27px;
    transition: all 500ms ease-in-out;

}

.first-screen__button-section .button {
    width: 188px;
}

@media screen and (max-width:850px) {
    .first-screen__button-section {
        margin-top: 24px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 190px;
    }
}
.first-screen__button-section svg:hover path {
    fill: #B353D3;
    transform: scale(105%);
}

.first-screen__button-section svg:hover path:nth-of-type(5) {
    fill: #1B171F;
}
.first-screen__button-section svg:hover path:nth-of-type(6) {
    fill: #1B171F;
}