.donat-card__link-aplication {
    margin: 99px 0 0;
}

@media screen and (max-width:850px) {
    .donat-card__link-aplication {
        margin-top: 92px;
    }
}

@media screen and (max-width:500px) {
    .donat-card__link-aplication {
        margin-top: 14px;
    }
}