.header__lang {
    border: 0;
    background:rgba(34, 34, 40);
    color: #fff;
    margin: 0 55px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 18px;
}
.header__lang:hover {
    cursor: pointer;
}