.header__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header__menu li {
    position: relative;
}
.header__menu div {
    padding-top: 43px;
    position: absolute;
    z-index: 3;
    top: 23px;
    left: 0;
}
@media screen and (min-width:850px) {
.header__menu li:hover .header__submenu {
    display: flex;
}}
@media screen and (max-width:850px) {
    .header__menu {
        display: block;
    }
    .header__menu li.active .header__submenu {
        display: flex;
    }
    .header__menu li.active .header__btn-sub-menu {
        transform: rotate(180deg);
    }
    .header__menu li.active div {
        position: relative;
        top: 0;
        padding: 0;
    }
}