.game-icon__scrabble {
    width: 58px;
    height: 58px;
    bottom: 124px;
    right: -48.5px;
    border-radius: 9px;
}

@media screen and (min-width:1600px) {
    .game-icon__scrabble {
        right: 32px;
    }}