.footer__under-link {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration-line: none;
}

@media screen and (max-width:850px) {
    .footer__under-link {
        font-size: 13px;
    }
}

@media screen and (max-width:470px) {
    .footer__under-link {
        font-size: 10px;
    }
}

@media screen and (max-width:370px) {
    .footer__under-link {
        font-size: 9px;
    }
}