.game-icon__pubg {
    width: 137.27px;
    height: 138px;
    right: -69.5px;
    top: 0;
    background: #FFFFFF;
    border-radius: 21px;
}

@media screen and (min-width:1600px) {
    .game-icon__pubg {
        right: 17px;
    }}