.resources {
    padding: 268px 20px 175px;
}
.resources .subtitle {
    max-width: 671px;
    margin: 24px auto 216px;
}
.resources ul {
    padding: 0;
}

@media screen and (max-width:450px) {
    .resources {
        padding: 130px 20px 70px;
    }
    .resources .subtitle {
        margin: 20px auto 75px;
    }
}