.check-old__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #A1A1A1;
    margin-top: 0;
    margin-bottom: 160px;
}

@media screen and (max-width:850px) {
    @media screen and (min-width:450px) {
        .check-old__text {
            font-size: 14px;
            margin-bottom: 82px;
        }
    }
}

@media screen and (max-width:450px) {
    .check-old__text {
        margin-bottom: 69px;
    }
}