.download__subtitle {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 26px 0 10px;
    color: #A1A1A1;
}

@media screen and (max-width:850px) {
    .download__subtitle {
        font-size: 16px;
        font-weight: 600;
    }
}