.buy-game__img-parent {
    background: #393942;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    width: 230px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-game__img-parent:first-of-type{
    margin: 0 28px 28px 0;
}
