.footer__links-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 0 20px 47px;
    margin: 0 auto;
    max-width: 1200px;
}
@media screen and (max-width:850px) {
    .footer__links-container {
        gap: 64px;
        justify-content: space-between;
    }
}

@media screen and (max-width:700px) {
    .footer__links-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:400px) {
    .footer__links-container {
        justify-content: space-between;
        column-gap: 0;
    }
}