.card__img_partners:first-of-type {
    margin-top: 66px;
}

.card__img_partners:last-of-type {
    transform: translateX(40px);
}

@media screen and (max-width:850px) {
    .card__img_partners:first-of-type {
        margin-top: 47px;
        max-width: 218px;
        margin-left: 5px;
    }

    .card__img_partners:last-of-type {
        max-width: 300px;
        margin: -10px 0 0 10px;
    }
}

@media screen and (max-width:700px) {
    .card__img_partners:first-of-type {
        margin-top: 41px;
        max-width: 227px;
        margin-left: 5px;
    }

    .card__img_partners:last-of-type {
        max-width: 300px;
        margin: -29px 0 0 10px;
    }
}