.our-products__img-server-games {
    position: absolute;
    top: 93px;
    right: 0;
    width: 721px;
    transition: all 500ms ease-in-out;
}

@media screen and (max-width:850px) {
    .our-products__img-server-games {
        width: 71%;
        left: 29%;
        top: 67px;
    }
}

@media screen and (max-width:700px) {
    .our-products__img-server-games {
        width: 95%;
        position: static;
        margin-left: 2.5%;
        margin-top: 127px;
    }
}