.post__buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 24px auto 72px;
}

.post__buttons .button {
    padding: 13px 24px;
}

@media screen and (max-width:450px) {
    .post__buttons {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 74px;
    }
}