.cards-for-cms {
    padding: 0 20px;
    margin-bottom: 103px;
}

.cards-for-cms .card__link {
    margin-top: 85px;
}

.card_launcher:hover img {
    transform: none;
}

@media screen and (max-width:850px) {
    .cards-for-cms {
        margin-top: 103px;
    }

    .cards-for-cms .card__link {
        margin-top: 118px;
    }

    .card_collection .card__link {
        margin-top: 92px;
    }

    .card_collection .card__textarea {
        max-width: 301px;
    }
}

@media screen and (max-width:700px) {
    .cards-for-cms .card__link {
        margin-top: 20px;
    }
}