.ruls__fraud {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url(../../../../../images/server-games/fraud.png);
    width: 55%;
}

@media screen and (max-width:700px) {
    .ruls__fraud {
        background-image: url(../../../../../images/server-games/fraud-phone.png);
        width: 100%;
        top: auto;
        height: 286px;
    }
}