.industry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
    margin-bottom: 100px;
}
@media screen and (max-width:850px) {
    .industry {
        margin-top: 44px;
        margin-bottom: 123px;
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .industry {
        margin-top: 20px;
        margin-bottom: 100px;
    }
}