.card__image_events {
    margin: 84px 0 0 114px;
}

@media screen and (max-width:850px) {
    .card__image_events {
        max-width: 280px;
        margin: 125px 0 0 85px;
    }
}

@media screen and (max-width:700px) {
    .card__image_events {
        height: 300px;
        margin: 65px 0 0 calc((100% - 205px)/2);
    }
}