.information {
    padding: 0 20px;
}
.information .card__textarea {
    max-width: 490px;
}
.information .card__link {
    margin-top: 99px;
}

@media screen and (max-width:850px) {
    .card_third .card__textarea {
        max-width: 323px;
    }
    .information .card__link {
        margin-top: 92px;
    }
}

@media screen and (max-width:700px) {
    .information .card__link {
        margin-top: 20px;
    }
}