.download__card {
    border-radius: 20px;
    max-width: 490px;
    height: 590px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.download__card:first-of-type {
    background: #393942;
}

.download__card:last-of-type {
    background: #79109D;
}

@media (any-hover: hover) {
    .download__card:hover .download__card-image {
        transform: scale(105%);
    }

    .download__card:hover .download__link {
        color: #393942;
        background-color: #fff;
    }
}


@media screen and (max-width:600px) {
    .download__card {
        height: 510px;
    }
}