.suport__link {
    font-weight: 700;
    font-size: 28px;
    margin: 190px 0 0 38px;
    letter-spacing: -0.01em;
    display: block;
    position: relative;
    z-index: 2;
}
@media screen and (max-width:550px) {
    .suport__link {
        font-size: 18px;
        margin: 20px 0 0 24px;
    }
}