.download__text {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin: 24px 0;
}
@media screen and (max-width:700px) {
    .download__text {
        font-size: 16px;
        max-width: 250px;
    }
}