.card {
    background: #232229;
    border-radius: 20px;
    margin: 0 auto 20px;
    max-width: 1000px;
    height: 475px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration-line: none;
    color: #FFFFFF;
}

@media screen and (max-width:700px) {
    .card {
        height: 598px;
    }
    .card a {
        flex-direction: column;
    }
}
