.game-icon__warcraft3 {
    width: 90px;
    height: 90px;
    right: 128.5px;
    bottom: 100px;
    background: #FFFFFF;
    border-radius: 14px;
}
@media screen and (min-width:1600px) {
    .game-icon__warcraft3 {
        right: 234px;
    }}