.card__link_gameday {
    margin: 144px 0 0;
}

@media screen and (max-width:850px) {
    .card__link_gameday {
        margin-top: 150px;
    }
}

@media screen and (max-width:700px) {
    .card__link_gameday {
        margin-top: 20px;
    }
}