.footer__under {
    margin: 47px auto 60px;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: center;
    padding: 0 20px;
    row-gap: 20px;
}
@media screen and (max-width:500px) {
    .footer__under {
        flex-wrap: wrap;
    }
}