.game-icon__left-4-dead {
    width: 145px;
    height: 145px;
    left: -69.5px;
    bottom: 50px;
    background: #FFFFFF;
    border-radius: 22px;
}
@media screen and (min-width:1600px) {
    .game-icon__left-4-dead {
        left: 0;
    }}