.voice__search-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    z-index: 2;
    max-width: 390px;
    margin: 24px 0 0 38px;
}

@media screen and (max-width:850px) {
    .voice__search-text {
        margin-left: 32px;
        font-size: 16px;
        max-width: 275px;
        line-height: 22px;
    }
}

@media screen and (max-width:570px) {
    .voice__search-text {
        margin: 20px 0 0 24px;
    }
}