.voice__teamspeak {
    background: #232229;
    border-radius: 20px;
}
.voice__teamspeak a {
    color: #FFFFFF;
    text-decoration-line: none;
    display: block;
}

@media screen and (max-width:570px) {
    .voice__teamspeak {
        height: 525px;
    }
}

@media (any-hover: hover) {
    .voice__teamspeak:hover img {
        transform: scale(105%);
    }

    .voice__teamspeak:hover .voice__download {
        color: #393942;
        background-color: #fff;
    }
}