.check-old__name {
    font-weight: 800;
    font-size: 60px;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.015em;
    margin: 0 0 24px;
}

@media screen and (max-width:850px) {
    .check-old__name {
        font-size: 38px;
    }
}

@media screen and (max-width:450px) {
    .check-old__name {
        font-size: 34px;
    }
}