.donat-card {
    margin-bottom: 167px;
}

.donat-card .card__textarea {
    max-width: 490px;
}

.donat-second-section {
    padding: 0 20px;
}

@media screen and (max-width:850px) {
    .donat-card {
        margin-bottom: 103px;
    }
}

@media screen and (max-width:500px) {
    .donat-card {
        margin-bottom: 58px;
    }
}