.post .title {
    text-align: start;
}

@media screen and (min-width:900px) {
    .post .title {
        font-size: 48px;
    }
}

@media screen and (max-width:450px) {
    .post .title {
        font-size: 28px;
    }

    .post .post__teg {
        display: none;
    }
}