.social__cards {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}
@media screen and (max-width:1009px) {
    .social__cards {
        flex-wrap: wrap;
        margin-top: 60px;
    }
}