.suport__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    margin: 190px 0 0 38px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    display: block;
    position: relative;
    z-index: 2;
}