.header__submenu {
    margin: 0;
    list-style: none;
    background: #2F2F32;
    border-radius: 20px;
    width: 185px;
    height: 186px;
    padding: 21px 17px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 14px;
    display: flex;
}
@media screen and (max-width:850px) {
    .header__submenu {
        width: 100vw;
        height: auto;
        padding: 0 0 14px;
        background: #18181B;
    }
}