.suport__img {
    background-image: url(../../../images/suport.png);
    background-size: cover;
    width: 843px;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all 500ms ease-in-out;
}

@media screen and (max-width:850px) {
    .suport__img {
        width: 88%;
    }
}

@media screen and (max-width:550px) {
    .suport__img {
        background-image: url(../../../images/suport-phone.png);
        width: 100%;
        height: 435px;
        top: auto;
    }
}

@media screen and (max-width:450px) {
    .suport__img {
        height: 354px;
    }
}