.card__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin: 24px 0 0;
}

@media screen and (max-width:700px) {
    .card__text {
        font-size: 16px;
        line-height: 22px;
        margin: 12px 0 0;
    }
}