.game-icon__minecraft {
    width: 85px;
    height: 85px;
    left: 0;
    top: 169px;
    background: #FF6F6F;
    border-radius: 13.1199px;
}


@media screen and (max-width:850px) {
    @media screen and (min-width:700px) {
        .game-icon__minecraft {
            width: 107px;
            height: 107px;
        }

        .game-icon__minecraft img {
            width: 85px;
        }
    }
}