.footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (max-width:850px) {
    .footer__links {
        flex-basis: 146px;
    }
    .footer__links:nth-of-type(2) {
        flex-basis: 146px;
        order: 2;
    }
    .footer__links:nth-of-type(3) {
        flex-basis: 117px;
        order: 3;
    }
    .footer__links:nth-of-type(4) {
        flex-basis: 117px;
        order: 1;
    }
}
