.card__img-epic {
    margin-top: 21px;
    margin-left: 22px;
    width: 129px;
}
@media screen and (max-width:700px) {
    .card__img-epic {
        width: 82px;
        margin-top: 16px;
        margin-left: 30px;
    }
}

@media screen and (max-width:350px) {
    .card__img-epic {
        margin-left: 14px;
    }
}