.voice__name {
    font-weight: 800;
    font-size: 38px;
    letter-spacing: -0.01em;
    margin: 38px 0 0 38px;
}

@media screen and (max-width:850px) {
    .voice__name {
        font-size: 28px;
        margin: 28px 0 0 28px;
    }
}

@media screen and (max-width:570px) {
    .voice__name {
        margin: 32px 0 0 24px;
    }
}