@import url(../../../styles/post-style.css);

@media screen and (max-width:450px) {
    .post__buttons {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-bottom: 74px;
    }
}