.text-cards {
    display: flex;
    gap: 35px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.text-cards li {
    box-sizing: border-box;
    padding: 30px 24px;
    list-style: none;
    width: 310px;
    height: 374px;
    background: #232229;
    border-radius: 24px;
}

.text-cards h6 {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.01em;
    margin: 0;
}

.text-cards .card__text {
    margin-left: 0;
    margin-top: 21px;
    line-height: 24px;
    max-width: 252px;
}

@media screen and (max-width:850px) {
    .text-cards {
        gap: 32px;
    }

    .text-cards h6 {
        font-size: 20px;
    }

    .text-cards li {
        padding: 24px 9px 0 24px;
        width: 30%;
        height: 374px;
    }
}

@media screen and (max-width:430px) {
    .text-cards {
        flex-direction: column;
        gap: 20px;
    }
    .text-cards li {
        width: 100%;
        height: 280px;
    }
}