.buy-game__img-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width:850px) {
    @media screen and (min-width:700px) {
        .buy-game__img-container {
            margin-left: 40px;
        }
    }
}