.donat-main {
    margin: 277px auto 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donat-main .button {
    padding: 13px 44px;
}
.donat-main .subtitle {
    max-width: 600px;
    margin-bottom: 24px;
}
.donat-main img {
    position: absolute;
}
.donat-main img:first-of-type {
    top: 88px;
    left: -3px;
}
.donat-main img:nth-of-type(2) {
    top: 346px;
    right: 0;
}
.donat-main img:nth-of-type(3) {
    top: 70px;
    right: -35px;
}
.donat-main img:nth-of-type(4) {
    top: 493px;
    right: 202px;
}
.donat-main img:nth-of-type(5) {
    top: 344px;
    left: 77px;
}
.donat-main img:nth-of-type(6) {
    top: 577px;
    left: 00px;
}