.ruls__fraud {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url(../../../../../../../images/server-games/fraud.png);
    width: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width:700px) {
    .ruls__fraud {
        background-size: cover;
        background-image: url(../../../../../../../images/server-games/fraud-phone.png);
        top: auto;
        height: 286px;
    }
}