.gameday__card {
    width: 271px;
    background: #232229;
    border-radius: 20px;
    height: 392px;
}

@media screen and (max-width:700px) {
    .gameday__card {
        width: 162px;
        height: 233px;
    }
}