.ruls__rule {
    background: #232229;
    border-radius: 20px;
    margin: 20px auto 0;
    max-width: 1000px;
    position: relative;
    height: 475px;
}
.ruls__rule:first-of-type {
    margin-top: 72px;
}
.ruls__rule:last-of-type {
    margin-bottom: 200px;
}