.details {
    margin-bottom: 144px;
    padding: 0 20px;
}

.details .subtitle {
    margin-bottom: 72px;
}

.details ul {
    padding: 0;
    margin: 0;
}
@media screen and (max-width:450px) {
    .details {
        margin-bottom: 69px;
    }
}