.card__background .card__image {
    margin: 137px 36px 0 81px;
}

.card__background .card__link {
    margin-top: 147px;
}

@media screen and (max-width:850px) {
    .card__background .card__link {
        margin-top: 128px;
    }

    .card__background .card__image {
        width: 256px;
        margin: 158px 22px 0 62px;
    }

    .card__background .card__textarea {
        max-width: 300px;
    }
}

@media screen and (max-width:450px) {
    .card__background .card__link {
        margin-top: 34px;
        margin-bottom: 0;
    }

    .card__background .card__image {
        width: 247px;
        margin: 126px 0 0 calc((100% - 247px)/2);
    }
}