.card__text_partners {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin: 0 38px;
}

@media screen and (max-width:850px) {
    .card__text_partners {
        margin: 0 32px;
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width:700px) {
    .card__text_partners {
        margin: 0 24px;
    }
}