.post {
    margin-bottom: 193px;
}

.post__card {
    margin-top: 93px;
}

.card__textarea {
    max-width: 500px;
}

@media screen and (max-width:450px) {
    .post__card {
        margin-top: 0;
    }
    .post {
        margin-bottom: 67px;
    }
    .post__buttons {
        flex-direction: row;
        margin-bottom: 59px;
        gap: 16px;
    }
}