.cards {
    list-style: none;
    padding: 0;
    margin: 94px auto 172px;
    padding: 0 20px;
}

@media screen and (max-width:850px) {
    .cards {
        margin-top: 71px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width:450px) {
    .cards {
        margin-bottom: 105px;
    }
}