.game-icon__garrys-mod {
    width: 88px;
    height: 88px;
    left: -14.5px;
    top: 160px;
    background: #FFFFFF;
    border-radius: 14px;
}

@media screen and (min-width:1600px) {
    .game-icon__garrys-mod {
        left: 40px;
    }
}