.suport__card {
    max-width: 1000px;
    border-radius: 20px;
    margin: 172px auto 0;
    height: 525px;
    position: relative;
    background-color: #232229;
    overflow: hidden;
}

@media screen and (max-width:550px) {
    .suport__card {
        height: 598px;
        margin-top: 80px;
    }
}