.mumble-main__buttons {
    display: flex;
    justify-content: center;
    margin: 24px auto 0;
    gap: 18px;
}
.mumble-main__buttons .button {
    display: flex;
    align-items: center;
    padding: 13px 24px;
}
@media screen and (max-width:700px) {
    .mumble-main__buttons {
        flex-wrap: wrap;
        gap: 24px;
    }
}