.card__btn-download {
    background: rgba(73, 72, 79, 0.35);
    border-radius: 16px;
    width: 125px;
    height: 59px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: -0.5px;
    border: 1px Outset rgba(255, 255, 255, 0.25);
    color: #B8B8B8;
    margin: 0 45px;
    transform: translateY(-30px);
}
.card__btn-download:hover {
    cursor: pointer;;
}