.cards-for-cms__link {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin: 85px 0 0 38px;
    display: inline-block;
}