.check-old__form {
    margin: 0 0 74px 0;
}

@media screen and (max-width:850px) {
    .check-old__form {
        margin-bottom: 42px;
    }
}

@media screen and (max-width:450px) {
    .check-old__form {
        margin-bottom: 33px;
    }
}