.check-old__warning {
    font-weight: 400;
    font-size: 38px;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.015em;
    margin: 106px auto 36px;
    max-width: 1000px;
}

.check-old__warning_blod {
    font-weight: 800;
    margin: 0 auto;
}
