.check-old__warning {
    margin: 21px auto;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.005em;
    color: #A1A1A1;
}

.check-old__warning_blod {
    font-weight: 800;
    font-size: 38px;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.015em;
    margin: 0 auto;
    max-width: 1000px;
}

@media screen and (max-width:450px) {
    .check-old__warning_blod {
        font-size: 28px;
    }
    .check-old__warning {
        width: 300px;
    }
}