.favorite__list {
    list-style: none;
    margin: 70px 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.favorite__list li {
    background: #232229;
    border-radius: 24px;
    padding: 38px 24px;
    min-height: 266px;
    box-sizing: border-box;
}

.favorite__logo_arassa {
    width: 108px;
}

.favorite__logo_unite {
    width: 70px;
}

.favorite__logo_outs {
    width: 86px;
}

.favorite__list h6 {
    font-weight: 800;
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -0.01em;
    margin: 11px 0 0;
}

.favorite__list p {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin: 15px 0 0;
}