.industry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
    margin-bottom: 100px;
    overflow: hidden;
}
@media screen and (max-width:700px) {
    .industry {
        margin-top: 20px;
    }
}