.news__time {
    margin: 11px 32px 0 24px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.news__time span{
    font-size: 20px;
    border-radius: 50%;
    width: 26px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease-in-out;
}