.card__elements .card__image {
    margin: 130px 73px 0 128px;
}

.card__elements .card__textarea {
    max-width: 490px;
}
.card__elements .card__link {
    margin-top: 171px;
    margin-bottom: 0;
}

@media screen and (max-width:850px) {
    .card__elements .card__textarea {
        max-width: 310px;
    }
    .card__elements .card__link {
        margin-top: 136px;
    }
    .card__elements .card__image {
        width: 233px;
        margin: 112px 25px 0 80px;
    }
}

@media screen and (max-width:450px) {
    .card__elements .card__link {
        margin-top: 35px;
    }
    .card__elements .card__image {
        width: 167px;
        margin: 130px 0 0 calc((100% - 167px)/2);
    }
}    