.voice-card__img-instruction {
    background: linear-gradient(180deg, #4B4A51 0%, rgba(63, 62, 68, 0.25) 100%);
    box-shadow: 0px -10px 25px 6px rgba(179, 182, 187, 0.06);
    border-radius: 60px;
    width: 218px;
    height: 218px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

@media screen and (max-width:700px) {
    .voice-card__img-instruction {
        margin-left: 50px;
    }
    .voice-card__img-conteiner {
        margin-left: calc((100% - 318px)/2);
    }
}