.our-products__card-img-popular-game {
    background-image: url(../../../../../images/populargame.png);
    width: 83.3%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 500ms ease-in-out;
    background-size: cover;
}
@media screen and (max-width:700px) {
    .our-products__card-img-popular-game {
        background-image: url(../../../../../images/popular-game-phone.png);
        width: 100%;
        height: 285px;
        position: static;
        margin-top: 25px;
    }
}