.gameday__name {
    font-weight: 800;
    font-size: 21px;
    line-height: 110%;
    letter-spacing: -0.01em;
    margin: 0 21px;
    height: 46px;
}

@media screen and (max-width:700px) {
    .gameday__name {
        height: 27.5px;
        font-size: 12.5px;
        margin-left: 12.5px;
    }
}