.voice__search-link {
    font-weight: 700;
    font-size: 20px;
    margin: 217px 0 0 28px;
    padding: 4px 10px;
    letter-spacing: -0.01em;
    position: relative;
    z-index: 2;
    width: fit-content;
    border-radius: 18px;
}

@media screen and (max-width:850px) {
    .voice__search-link {
        margin: 164px 0 0 22px;
        font-size: 16px;
    }
}

@media screen and (max-width:570px) {
    .voice__search-link {
        margin: 16px 0 0 14px;
        font-size: 18px;
    }
}