.card__link_hamachi {
    margin: 144px 0 0;
}

@media screen and (max-width:850px) {
    .card__link_hamachi {
        margin-top: 124px;
    }
}

@media screen and (max-width:700px) {
    .card__link_hamachi {
        margin-top: 20px;
    }
}