.gameday__time {
    font-weight: 500;
    font-size: 12.25px;
    margin: 10px 21px;
    display: block;
}

@media screen and (max-width:700px) {
    .gameday__time {
        font-size: 7.3px;
        margin: 5px 21px 0 12.5px;
    }
}