.popup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232229;
    padding: 50px;
    border-radius: 22px;
}

.popup__form .popup-wrapper {
    position: relative;
    width: 100%;
    height: 30px;
}

.popup__form .button {
    margin-top: 150px;
}
.button.disabled {
    background: #58585ac4;
    cursor: no-drop;
}

