.community__main {}

.community__main .card__image {
    margin: 26px 56px 0 93px;
}

.community__main .card__textarea {
    max-width: 490px;
}

.community__main .card__link {
    margin-top: 141px;
}

@media screen and (max-width:850px) {
    .community__main .card__textarea {
        max-width: 315px;
    }

    .community__main .card__link {
        margin-top: 128px;
    }

    .community__main .card__image {
        width: 228px;
        margin: 64px 40px 0 71px;
    }
}

@media screen and (max-width:450px) {
    .community__main .card__link {
        margin-top: 20px;
    }

    .community__main .card__image {
        width: 200px;
        margin: 58px 0 0 calc((100% - 200px)/2);
    }
}