.description__text-content {
    width: 220px;
    height: 425.25px;
    background: #232229;
    border-radius: 16px;
    padding: 27px 18px;
    box-sizing: border-box;
}

@media screen and (max-width:1040px) {
    .description__text-content {
        width: 100%;
        height: fit-content;
        min-height: 178px;
        padding: 36px 24px;
    }
}

@media screen and (max-width:450px) {
    .description__text-content {
        min-height: 260px;
    }
}