.popular__grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content: center;
    gap: 72px 35px;
    margin: 72px auto 0;
    max-width: 1000px;
}
.popular__grid a {
    text-decoration-line: none;
}

@media screen and (max-width:850px) {
    .popular__grid {
        gap: 60px 32px;
    }
}

@media screen and (max-width:450px) {
    .popular__grid {
        gap: 20px 20px;
    }
}