.buy-game__img-steam {
    width: 163px;
    height: 49px;
}

@media screen and (max-width:850px) {
    .buy-game__img-steam {
        width: 179px;
        height: 54px;
    }
}

@media screen and (max-width:500px) {
    .buy-game__img-steam {
        width: 104.5px;
        height: 31.5px;
    }
}