.check-old {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #18181B;
    overflow: auto;
}

.check-old.hide {
    display: none;
}