.check-old {
    padding: 248px 19px 0;
    position: relative;
    overflow: auto;
}

.hide {
    display: none;
}

@media screen and (max-width:850px) {
    .check-old {
        padding: 150px 47px 0;
    }
}

@media screen and (max-width:450px) {
    .check-old {
        padding: 130px 19px 0;
    }
}