.other__subtitle {
    margin-top: 180px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 22px;
    text-align: center;
    color: #A1A1A1;
}

@media screen and (max-width:700px) {
    .other__subtitle {
        font-size: 16px;
        margin-top: 98px;
    }
}