.suport__text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    margin: 24px 0 0 38px;
    color: #FFFFFF;
    max-width: 384px;
    position: relative;
    z-index: 2;
}