.card__img-steam {
    margin-left: 20px;
    transform: translateY(-45px);
}
@media screen and (max-width:700px) {
    .card__img-steam {
        margin-left: 36px;
        width: 150px;
        transform: translateY(-16px);

    }
}

@media screen and (max-width:350px) {
    .card__img-steam {
        margin-left: 14px;
    }
}