.game-icon__gta-5 {
    width: 90px;
    height: 90px;
    left: 130px;
    top: 330px;
    background: #2C84B5;
    border-radius: 14px;
}

@media screen and (max-width:850px) {
    @media screen and (min-width:700px) {
        .game-icon__gta-5 {
            width: 113.5px;
            height: 113.5px;
        }

        .game-icon__gta-5 img {
            width: 76px;
        }
    }
}