.social__card {
    background: linear-gradient(109.69deg, rgba(29, 66, 162, 0.6) 12.26%, rgba(53, 72, 222, 0.6) 49.27%, rgba(0, 0, 0, 0.6) 65.36%, rgba(255, 0, 79, 0.6) 87.89%, rgba(73, 49, 71, 0.6) 115.24%);
    width: 490px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
}
.social__card img {
    transition: all 500ms ease-in-out;
}
.social__card:hover .social__link {
    background: #FFFFFF;
    color: #353D77;
}
.social__card:hover .social__image {
    transform: scale(105%);
}
.social__card:hover .social__image_isq {
    transform: scale(105%);
}
.social__card:last-of-type {
    background: linear-gradient(109.69deg, rgba(73, 49, 71, 0.6) 12.26%, rgba(222, 62, 198, 0.6) 42.3%, rgba(128, 43, 179, 0.6) 56%, rgba(0, 210, 122, 0.6) 85.75%, rgba(29, 66, 162, 0.6) 115.25%);
}