.ruls__communication {
    background-image: url(../../../../../../../images/server-games/comunication.png);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width:700px) {
    .ruls__communication {
        background-size: cover;
        background-image: url(../../../../../../../images/server-games/communication-phone.png);
        top: auto;
        height: 314px;
    }
}