.chats {
    max-width: 1064px;
    margin: 0 auto 160px;
}

.chats .popular__grid {
    margin-top: 72px;
}

.chats .news__card {
    height: 448px;
    box-sizing: border-box;
}

.chats .news__card img {
    margin-top: -2px;
}

.chats .news__name {
    margin-top: 25px;
    height: 78px;
}

@media screen and (max-width:850px) {
    .chats {
        margin: 0 auto 120px;
    }

    .chats .popular__grid {
        margin-top: 60px;
    }
}

@media screen and (max-width:450px) {
    .chats {
        margin: 0 auto 60px;
    }

    .chats .popular__grid {
        margin-top: 88px;
    }
}