.ruls__nickname {
    background-image: url(../../../../../../../images/server-games/nickname.png);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
}
@media screen and (max-width:700px) {
    .ruls__nickname {
        background-size: cover;
        background-image: url(../../../../../../../images/server-games/nickname-phone.png);
        top: auto;
        height: 300px;
    }
}