.game-icon__7days {
    width: 85px;
    height: 85px;
    right: -7.5px;
    top: 300px;
    background: #FFF170;
    border-radius: 13px;
}
@media screen and (min-width:1600px) {
    .game-icon__7days {
        right: 80px;
    }}