.ruls__behavior {
    background-image: url(../../../../../../../images/server-games/behavior.png);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right;
}

@media screen and (max-width:700px) {
    .ruls__behavior {
        background-size: cover;
        background-image: url(../../../../../../../images/server-games/behavior-phone.png);
        top: auto;
        height: 299px;
    }
}