.card__image_hamachi {
    position: absolute;
    left: 0;
    top: 51px;
}

@media screen and (max-width:850px) {
    .card__image_hamachi {
        max-width: 475px;
    }
}

@media screen and (max-width:700px) {
    .card__image_hamachi {
        top: auto;
        bottom: 20px;
        width: calc(100% + 50px);
        max-width: 435px;
    }
}