.first-screen__img {
    border-radius: 20px;
    z-index: 1;
    max-width: 50%;
}
@media screen and (max-width:700px) {
    .first-screen__img {
        max-width: 100%;
        margin-top: 85px;
    }
}