.body {
    background-color: #18181B;
    color: #fff;
    font-family: 'Mansalva', sans-serif;
}

body h1,h2,h3,h4,h5,h6 {
    font-family: 'Manrope', sans-serif;
}

.body.lock {
    overflow: hidden;
}