.news__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 35px;
    padding: 0 32px;
    margin: 0 0 72px;
}
@media screen and (max-width:1070px) {
    .news__list {
        gap: 20px;
    }
}
@media screen and (max-width:700px) {
    .news__list {
        margin-bottom: 60px;
    }
}