.voice__search {
    background-color: #232229;
    border-radius: 20px;
    grid-column: span 2;
    position: relative;
    overflow: hidden;
}
.voice__search a {
    color: #FFFFFF;
    text-decoration-line: none;
    display: block;
}