.news__card {
    width: 310px;
    display: block;
    background: #232229;
    border-radius: 24px;
    text-decoration-line: none;
    color: #fff;
    padding-bottom: 40px;
    overflow: hidden;
}

.news__card:hover span {
    color: #232229;
    background-color: #fff;
}