.game-icon__gta {
    width: 138px;
    height: 138px;
    right: 56.5px;
    bottom: -280px;
    background: #FFFFFF;
    border-radius: 21px;
}
@media screen and (min-width:1600px) {
    .game-icon__gta {
        right: 152px;
    }}