.description__video {
    width: 756px; 
    height: 425.25px;
    overflow: hidden;
    border-radius: 16px;
}
@media screen and (max-width:450px) {
    .description__video {
        width: 100%;
        height: 188.33px;
    }
}