.first-screen__button-section {
    display: flex;
    gap: 28px;
    align-items: center;
    margin-top: 27px;
}
@media screen and (max-width:700px) {
    .first-screen__button-section {
        flex-wrap: wrap;
        justify-content: center;
    }
}