.card__screensaver .card__image {
    position: absolute;
}

.card__screensaver .card__image_phone {
    left: 759px;
    top: 89px;
}

.card__screensaver .card__image_laptop {
    left: 463px;
    top: 145px;
}

@media screen and (min-width:900px) {
    .card__screensaver .card__link {
        margin-top: 147px;
    }
}

@media screen and (max-width:450px) {
    .card__screensaver .card__link {
        margin-top: 54px;
        margin-bottom: 0;
    }
    .card__screensaver .card__image_phone {
        width: 115px;
        left: calc((100% + 46px)/2);
        top: 334px;
    }
    
    .card__screensaver .card__image_laptop {
        width: 275px;
        left: calc((100% - 305px)/2);
        top: 370px;
    }
}