.button {
    background: #79109D;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
    border: 0;
    font-family: 'Manrope', sans-serif;
    padding: 13px 20px;
    z-index: 3;
    position: relative;
}
.button:hover {
    cursor: pointer;
    background: #9F2EC7;
}
.button_white {
    background: #FFFFFF;
    color: #18181B;
}
.button_white:hover {
    background: #393942;
    color: #fff;
}