.check-old__butons {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 45px;
}

.check-old__butons .button.disabled {
    cursor: no-drop;
}

@media screen and (max-width:850px) {
    .check-old__butons {
        margin-top: 40px;
    }
}