.header__sublink {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.005em;
    color: #D2D2D2;
    text-decoration-line: none;
}

@media screen and (max-width:850px) {
    .header__sublink {
        display: block;
        color: #fff;
        margin-bottom: 10px;
        font-size: 16px;
    }
}